
#sideNavBox {
	box-sizing: border-box;

	// override SP styles because using bootstrap
	margin-left: 0;
	margin-right: 0;
	padding: 0 35px;
	float: none;
	width: 100%;

	@media (min-width: 768px){
		float: left;
		width: 33.333333333%;
		padding: 0;
		.ms-core-sideNavBox-removeLeftMargin {
			margin-left: 0;
		}
	}

	@media (min-width: 992px){
		float: left;
		width: 16.666666667%;
	}



	.ms-core-navigation {
		.ms-core-listMenu-item, 
		.ms-core-listMenu-item:link, 
		.ms-core-listMenu-item:visited {
			color: $reverse-color;			// normal link
		}


		.ms-core-listMenu-selected:link, 
		.ms-core-listMenu-selected:visited, 
		.ms-core-listMenu-selected {
			background: rgba(255,255,255,.2);	// selected link
			color: $reverse-color;
		}
	}

	@media screen and (max-width: 768px) {
		margin-bottom: 20px;
	}
}