// Global colors and fonts
// ------------------------------------

$color-primary: 	#248bcb; 	// blue
$color-secondary:	#333; 		// dark grey 	

$color-accent-1:	inherit;  
$color-accent-2:	inherit; 
$color-accent-3:	inherit; 
$color-accent-4:	inherit; 
$color-accent-5: 	inherit; 
$color-accent-6:	inherit; 
$color-accent-7:	inherit; 
$color-accent-8:	inherit; 
$color-accent-9:	inherit; 
$color-accent-10:	inherit; 
$color-accent-11:	inherit; 
$color-accent-12:	inherit; 
$color-accent-13:	inherit; 
$color-accent-14:	inherit; 


$text-color:		#ffffff;
$link-color:		$color-primary;
$heading-color:		inherit; 
$pagebg-color:		$color-primary;
$reverse-color:		#ffffff;


