/* Mobile and Table Burger styles */

#navbar-toggle {
  display: none;

  //Sidebar navigation toggling
  //tablets
  @media only screen and (min-width: 481px) and (max-width: 768px) {
    display: inline-block;
    margin: 0;
    min-width: 0;
    float: right;
    position: absolute;
    top: 0;
    left: 0;
    width: 21px;
    height: 73px;
    padding: 5px;
  }

  //smartphones
  @media screen and (max-width: 480px) {
    display: inline-block;
    margin: 0;
    min-width: 0;
    width: 33px;
    height: 33px;
    float: right;
    margin-top: 1.2em;
    z-index: 100;
    position: relative;
    -webkit-box-shadow: -10px -2px 10px 10px #fff;
    box-shadow: -10px -2px 10px 10px #fff;
  }
}

.burger {
  position: relative;
  left: 0px;
  top: 0px;
  padding: 0px 7px;
  display: inline-block;

  span {
    display: block;
    width: 100%;
    height: 2px;
    background: black;
    -ms-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;

    position: relative;
    margin: 0 0 0 0;

    &:before, &:after {
      display: block;
      position: absolute;
      content: "";
      width: 100%;
      height: 2px;
      background: black;

      -ms-transition: all 0.5s;
      -webkit-transition: all 0.5s;
      transition: all 0.5s;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
    }

    &:before {
      top: -8px;
    }
    &:after {
      top: 8px;
    }
  }

  &.selected span {
     -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);

    &:before {
      -ms-transform: translate(0px, 8px) rotate(90deg);
      -webkit-transform: translate(0px, 8px) rotate(90deg);
      transform: translate(0px, 8px) rotate(90deg);
    }
    &:after {
      -ms-transform: translate(0px, -8px) rotate(90deg);
      -webkit-transform: translate(0px, -8px) rotate(90deg);
      transform: translate(0px, -8px) rotate(90deg);
    }
  }
}

/*
#navbar-toggle {
    /* hamburger menu (base64 encoded) -- 
    background: #fff url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAU0lEQVQ4T2NkoBAwUqifgWoGnGRgYDAj0TUgPRYwFxwHcUg04BgDA4M11bxAouUI5TAXUBwGJxgYGMxJdMYgC4MzDAwMxiR6ASUdDIMwINH7COUAalAMEcvSqK4AAAAASUVORK5CYII=) no-repeat center center;
}
*/