//use PnP responsive - customized

@import "components/pnp-responsive-styles/general";

@import "components/pnp-responsive-styles/body";

@import "components/pnp-responsive-styles/mobile-toggle";

@import "components/pnp-responsive-styles/navigation-toggle";

@import "components/pnp-responsive-styles/tablet";
@import "components/pnp-responsive-styles/phone";

@import "components/pnp-responsive-styles/dialog";
@import "components/pnp-responsive-styles/settings";