/* Tablet/smartphones common styles for collapsibles */

.mobile-only {
  display: none;

  @media only screen and (max-width: 768px) {
    .mobile-only {
      display: block;
    }
  }
}

.no-mobile {
  
  @media only screen and (max-width: 768px) {
    .mobile-only {
      display: none;
    }
  }
}
